body {
  color: #fff;
  background: linear-gradient(
    to bottom right,
    #5c5470 0%,
    #352f44 40%,
    #352f44 40%,
    #2a2438 100%
  );
}
.bg-grey {
  background-color: #2a2438;
}
.bg-purple {
  background-color: #352f44;
}
.fs-7,
.nav-link,
p {
  font-size: 14px;
}
.display-1 {
  font-size: calc(2rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}
.text-dm,
.nav-link,
p {
  font-family: "DM Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.text-poppins {
  font-family: "Poppins", sans-serif;
}
.nav-link {
  margin: 0 10px;
}
button,
input {
  box-shadow: none !important;
}
.rounded {
  border-radius: 15px !important;
}
a {
  text-decoration: none;
}
.pic1 {
  background-image: url("../public/image1.jpg");
  background-size: cover;
  background-position: 5%;
}
.pic2 {
  background-image: url("../public/image3.jpg");
  background-size: cover;
  background-position: 5%;
}
.pic3 {
  background-image: url("../public/image2.jpg");
  background-size: cover;
  background-position: 5%;
}
.btn-shrink:active {
  transform: scale(0.97);
  transition: transform 100ms ease-in-out;
}
.btn-shrink {
  transition: transform 100ms ease-in-out;
}
.filter {
  filter: grayscale(100%) brightness(200%);
}
