body {
  background-color: #2a2438;
  color: #fff;
}
.bg-grey {
  background-color: #2a2438;
}
.fs-7,
.nav-link,
p {
  font-size: 14px;
}
.text-dm,
.nav-link,
p {
  font-family: "DM Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.text-poppins {
  font-family: "Poppins", sans-serif;
}
.nav-link {
  margin: 0 10px;
}
button,
input {
  box-shadow: none !important;
}
.rounded {
  border-radius: 10px !important;
}
