body {
  background-color: #2a2438;
  color: #fff;
}
.bg-grey {
  background-color: #2a2438;
}
.fs-7,
.nav-link,
p {
  font-size: 14px;
}
.display-1 {
  font-size: calc(2rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}
.text-dm,
.nav-link,
p {
  font-family: "DM Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.text-poppins {
  font-family: "Poppins", sans-serif;
}
.nav-link {
  margin: 0 10px;
}
button,
input {
  box-shadow: none !important;
}
.rounded {
  border-radius: 15px !important;
}
a {
  text-decoration: none;
}
.pic1 {
  background-image: url("../public/about1.jpg");
  background-size: cover;
  background-position: 5%;
}
.pic2 {
  background-image: url("../public/about2.jpg");
  background-size: cover;
  background-position: 5%;
}
.pic3 {
  background-image: url("../public/about1.jpg");
  background-size: cover;
  background-position: 5%;
}
